@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 36px;
    
  }
.compo-container{
    display: flex;
    gap: 30px;
}
.compo-form{
    margin-top: 72px;
}
/* Hide Box on Mobile */
@media screen and (max-width: 768px) {
    .compo-container {
        flex-direction: column;
        align-items: center; /* Centers form */
        gap: 15px;
    }

    .compo-box {
        display: none;
    }

    .compo-form {
        margin-top: 0; /* Adjust margin */
        width: 100%;
    }
}