.form-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

input[type="email"] {
  height: 40px;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: #333;
}

input[type="email"]:focus {
  border-color: #8700ff;
  outline: none;
}




.error-message {
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .form-container{
    margin: 20px;
  }
}